.App {
  margin: 40;
  padding: 40;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-logo {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  position: fixed;
  bottom: 10px;
  left: 10px;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}